In [4]:
import pandas as pd

df = pd.read_csv("nbbo.csv")

In [5]:
df

,date,symbol,exchange,company_name,stock_price_close,option_symbol,option_expiration,strike,call_put,style,bid,ask,mean_price,settlement,volume,open_interest,stock_price_for_iv
0,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXA*,01/18/2019,1000,C,E,2063.100,2069.300,2066.200,2066.7,0,952,3066.53
1,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXM*,01/18/2019,1000,P,E,0.001,0.200,0.001,0.1,0,892,3066.53
2,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXA*,01/18/2019,1050,C,E,2013.100,2019.300,2016.200,2016.7,0,0,3066.53
3,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXM*,01/18/2019,1050,P,E,0.001,0.200,0.001,0.1,0,0,3066.53
4,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXA*,01/18/2019,1100,C,E,1963.100,1969.300,1966.200,1966.7,0,0,3066.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3125,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXX*,12/17/2027,4300,P,E,0.001,0.001,0.001,1860.5,0,0,3066.53
3126,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXL*,12/17/2027,4400,C,E,0.001,0.001,0.001,95.5,0,1001,3066.53
3127,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXX*,12/17/2027,4400,P,E,0.001,0.001,0.001,1947.4,0,0,3066.53
3128,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXL*,12/17/2027,6000,C,E,0.001,0.001,0.001,26.7,0,0,3066.53
3129,01/15/2019,SX5E,NaN,DJ Euro STOXX 50,3068.05,EXX*,12/17/2027,6000,P,E,0.001,0.001,0.001,3402.8,0,0,3066.53

In [6]:
calls, puts = df.iloc[::2], df.iloc[1::2]

In [12]:
calls.reset_index()
puts.reset_index()

df.describe()

,exchange,stock_price_close,strike,bid,ask,mean_price,settlement,volume,open_interest,stock_price_for_iv
count,0.0,3130.00,3130.000000,3130.000000,3130.000000,3130.000000,3130.000000,3130.000000,3130.000000,3.130000e+03
mean,NaN,3068.05,3475.830671,307.682794,313.288687,310.383130,705.880096,338.693291,10738.887540,3.066530e+03
std,NaN,0.00,1949.995521,868.159349,871.897865,870.018521,1227.755983,2369.845198,27627.500729,4.548200e-13
min,NaN,3068.05,250.000000,0.001000,0.001000,0.001000,0.000000,0.000000,0.000000,3.066530e+03
25%,NaN,3068.05,2275.000000,0.001000,0.001000,0.001000,3.925000,0.000000,0.000000,3.066530e+03
50%,NaN,3068.05,3100.000000,1.500000,2.250000,1.850000,186.400000,0.000000,12.000000,3.066530e+03
75%,NaN,3068.05,4000.000000,236.725000,243.950000,239.062500,882.275000,0.000000,5412.000000,3.066530e+03
max,NaN,3068.05,10000.000000,7080.700000,7091.000000,7085.850000,7302.900000,42416.000000,298151.000000,3.066530e+03